header{
    background: rgb(255 87 34 / 89%);
    height: 102px;
  
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    
    .image-container{
        height: 100%;
        width: 25%;
        text-align: center;
        img{
            height: 100%;
            width: 11vw;
        }
    }
    >nav{
       width: 75%;
      
       > ul{
            display: flex;
          
            justify-content: space-around;
            
           > li{
            list-style-type: none;
            font-size: 24px;
            font-family: system-ui;
            font-weight: 500;
                    a{
                        text-decoration: none;
                        color: white;
                    }
            }
        }
    }
}
.ham{
    display: none;
}

@media screen and (max-width:910px){
    header{
        .image-container{
            width: 50%;
            img{
                width: 36vw;
            }
        }
        nav{
         
            ul{

                flex-direction: column;
                
            }
            .open{
                height: 100vh;
                        display: flex;
        justify-content: center;
        gap: 43px;
        width: 44%;
        background-color: orange;
        position: absolute;
        z-index: 1;
        right: 0;
        margin: 0;
        top: 0;
      

            }
            .close{
                display: none;
               
            }
        }
        .ham{
            display: block;
            z-index: 5;
            padding-right: 10px;
            font-size: 25px;
        }
        
        
    }
}
@media screen and (max-width:600px){
    header{
        nav{
            .open{
                gap: 34px;
                background-color: #ff5722;
                border-radius: 20px;
            }
            ul{
                li{
                    font-size: 18px;
                }
            }
        }
    }
}