.search-priest{
    .heading{
    
    }
}
#btns{
    display: flex;
    flex-direction: column;
   
    gap: 6px;
    a{
        text-decoration: none;
        background: #9498f2;
        font-size: 19px;
        border: none;
        text-align: center;
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
    }
}

@media screen and (max-width:600px){
    #btns a{
      
    }
}